* {
    font-family: monospace;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

button {
    border-radius: 5px;
    margin:0 0 10px 0; 
    padding: 5px;
    color: white;
    background-color: darkslateblue;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: whitesmoke;  
    background-image: url(./assets/background_low.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-aside {
    border-color: black;
    /* border-style: solid; */
    border-width: 1px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.left-aside img {
    padding: 10px;
}

.center-top {
    border-color: black;
    /* border-style: solid; */
    border-width: 1px;
    flex-grow: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-top img {
    padding: 10px;
}

.right-aside {
    display: flex;
    flex-direction: column;
    border-color: black;
    /* border-style: solid; */
    border-width: 1px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-aside img {
    flex: 0 0 10;
    padding: 20px;
}

#timer-value {
    flex: 0 0 50;
    font-size: 30px;
    font-weight: 700;
    padding: 5px;
    /* padding-bottom: 20px; */
    font-family: monospace;
    background-color: rgb(140, 242, 255);
}

.main-section {
    border-color: black;
    /* border-style: solid; */
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

/* !!! LANDING PAGE SECTION !!!  */

#landing-page {
    display: flex; /* HIDDEN MECH - flex / none */
    flex-direction: column;
    border-color: black;
    /* border-style: solid; */
    border-width: 1px;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

#landing-title {
    font-size: large;
}

#landing-text-box {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: larger;
    padding: 20px;
}

/* !!! QUIZ PAGE SECTION !!!  */

#quiz-section {
    display: none; /* HIDDEN MECH - flex / none */
    flex-direction: column;
    border-color: black;
    /* border-style: solid; */
    border-width: 1px;
    /* this box is changed/hidden depending on state */  
}

#question-text {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

#quiz-list ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    padding: 5px;
    margin: 1px;
}

#quiz-list ol li {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: lightgrey;
}

#quiz-list #choicebutton1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
}

#quiz-section .q-button {
    color: white;
    background-color: rgb(165, 69, 255);
    border: 5px;
    border-style: solid;
    border-color: rgb(250, 62, 209);
    padding: 8px;
    margin: 4px;
}

ol {
    padding-right: 200px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

#confirm-answer {
    padding: 10px;
    padding-bottom: 30px;
}

/* !!! HIGH SCORES SECTION !!! */

#high-score-page {
    display: none; /* HIDDEN MECH - flex / none */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-color: black;
    /* border-style: solid; */
    border-width: 1px;
}

#high-score-page ol {
    list-style: decimal;
    font-size: large;
}

#high-score-page h1 {
    font-size: 30px;
}

#high-score-page button {
    background-color: cornflowerblue;
    font-size: 15px;
    padding: 5px;
    width: 180px;
    height: 40px;
}

#submit-button {

    background-color: cornflowerblue;
    font-size: 10px;
    padding: 5px;
    width: 80px;
    height: 20px;

}