* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: large;
}

* button {
    border-radius: 5px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(229, 237, 251);
}


.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-aside {
    border-color: black;
    /* border-style: solid; */
    border-width: 1px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.left-aside img {
    padding: 10px;
}

.center-top {
    border-color: black;
    /* border-style: solid; */
    border-width: 1px;
    flex-grow: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-top img {
    padding: 10px;
}

.right-aside {
    display: flex;
    flex-direction: column;
    border-color: black;
    /* border-style: solid; */
    border-width: 1px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-aside img {
    flex: 0 0 10;
    padding: 20px;
}

#timer-value {
    flex: 0 0 50;
    font-size: 30px;
    font-weight: 700;
    padding: 5px;
    padding-bottom: 20px;
    font-family: monospace;
}

.main-section {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.landing-page {
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    align-items: center;
    justify-content: center;
}

#landing-title {
    font-size: larger;
}

#quiz-section {
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    /* this box is changed/hidden depending on state */  
}

#question-text {
    padding: 10px;
}

#quiz-list ol {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: white;
    padding: 5px;
    margin: 1px;
}

#quiz-list li {
    margin:0 0 10px 0; 
    padding: 5px;
    color: white;
    background-color: darkslateblue;
}

/* button {
    color: white;
    background-color: sandybrown ;
    border-radius: 15%;
} */

ol {
    padding-right: 200px;
    list-style: none;
}

#confirm-answer {
    padding: 10px;
    padding-bottom: 30px;
}

.high-score-page {
    background-color: aqua;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}